.heading{
    color: red;
}

.header{
    text-align: center;
}

.post{
    width: 25rem;
    height: 12rem;
    border: solid 1px cadetblue;
    border-radius: 30px;
    margin: 3rem;
}

.post_content{
    text-align: center;

}

a{
    text-decoration: none;
}
a:hover{
    color: cadetblue;
}
.full_post{
    margin-left: 1rem;
}

.sidepos{
    text-align: right;
}
